web3==6.19.0
eth-account==0.10.0
pydantic==2.7.1
requests==2.32.3
python-dotenv==1.0.1

pydantic-settings==2.4.0

pytest==8.3.3

fastapi==0.115.5
uvicorn==0.32.0

# Database dependencies for game
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.13.1
redis==5.0.1
hexbytes==0.3.1
